@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.post {
  border: 2px solid white;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 10px;
  padding: 1rem;
  padding-bottom: 10px;
  color: white;
  margin: 8px;
  max-width: 80vw;
  background-color: #2e3840;
  box-shadow: 1px 1px 10px 1px white;
}

.post h3 {
  color: #efefef;
  display: inline-block;
  font-family: "Roboto Slab", serif;
}

#postimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.post img {
  max-width: 60vw;
  max-height: 50vh;
}

.reaction {
  display: flex;
  align-items: center;
}

small {
  margin-bottom: 10px;
}

.ReactionLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0.5rem;
  margin: 1rem;
}

.ReactionLogo h4 {
  font-size: 1.2rem;
}

.updown {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Usernamef {
  color: #da98fe;
  display: inline-block;
  margin-left: 5px;
}

@media (min-width: 1285px) and (max-width: 1920px) {
  .post {
    border: 2px solid white;
    height: fit-content;
    width: 52vw;
  }

  .post img {
    max-width: 45vw;
    max-height: 50vh;
  }
}

@media (min-width: 1079px) and (max-width: 1317px) {
  .post img {
    max-width: 40vw;
    max-height: 50vh;
  }
}
