.reddit_clone-right_section {
  /* width: 20rem; */
  text-align: center;
  width: 100%;
  padding: 1rem 0rem 1rem 1rem;
  font-family: var(--font-c);
  margin-top: 7.3vh;
  overflow: hidden;
  margin-right: 10px;
}

.reddit_clone-right_section_icon {
  font-size: 3rem;

  /* background-color: orangered; */
}
.reddit_clone-right_section_premium_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reddit_clone-right_section_premium button {
  width: 100%;
  background-color: #ff64b4;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

.reddit_clone-right_section_premium button:hover {
  background-color: #fe359d;
}
.reddit_clone-right_section_premium {
  /* margin: 0.5rem; */
  border-radius: 0.2rem;

  background-color: rgb(189, 189, 189);
  padding: 1rem;
}
.reddit_clone-right_Secton_community {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(189, 189, 189);
  padding: 0.5rem, 0.5rem, 0.5rem, 0.5rem;
  border-radius: 0.2rem;
}

.reddit_clone-right_Secton_community p {
  font-size: 1rem;
}
.reddit_clone-right_Secton_community button {
  padding: 0.5rem 0;
  margin: 0.5rem 2rem;
  background-color: #493fff;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
}
.reddit_clone-right_Secton_community button:nth-of-type(1) {
  color: white;
  font-weight: bold;
}
.reddit_clone-right_Secton_community button:nth-of-type(2) {
  background-color: white;
  border: 2px solid #493fff;
  font-weight: bold;
  color: #493fff;
}
.reddit_clone-section_right_footer {
  background-color: rgb(189, 189, 189);
  padding: 1rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
}
.reddit_clone-section_right_footer div {
  /* margin: 1rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 0.8rem;
  gap: 0.4rem;

  padding: 0.5rem;
}
.reddit_clone-section_right_footer a {
  text-align: center;
  text-decoration: none;
  color: #292727;
}
.reddit_clone-section_right_footer p {
  font-size: 0.7rem;
  padding: 1rem 0 0.5rem 0;
}
.reddit_clone-section_right_footer p a {
  color: rgb(0, 4, 255);
}

#createcomunitybtn{
background-color: #493fff;

padding: 0.3rem;
padding-left: 5.5rem;
padding-right: 5.5rem;
border-radius: 1rem;
color: white;
text-decoration: none;
margin-bottom: 1rem;
}

@media (max-width: 1042px) {
  .reddit_clone-right_section {
    display: none;
  }
}

.votelylast {
  position: fixed;
  right: 10px;
}

@media (min-width: 1285px) and (max-width: 1920px) {
  .reddit_clone-right_section {
    width: 20%;
  }
}
